/* page background + overall spacing */
body {
    background-color: #1a151a;
    padding: 20px 40px;
    margin: 30px;
    font-family: garamond;
}

/* header stylings */
header h1 {
    color: #bb7a8a;
}

header h2 {
    color: #9e5c6c;
}

/* main content */
main p {
    color: #bb918d;
}

/* interests list */
main ul {
    color: #bb918d;
}

/* footer styling */
footer p {
    color: #9e5c6c;
}