/* page background + overall spacing */
body {
    background-color: #1a151a;
    padding: 40px 60px;
    margin: 20px auto;
    font-family: candara;
}

/* header stylings */
header h1 {
    color: #e4a5b6;
}

header h2 {
    color: #b86481;
}

/* main content */
main p {
    color: #d8b8b2;
}

/* interests list */
main ul {
    color: #c08c9a;
}

/* footer styling */
footer p {
    color: #b86481;
}

footer a {
    color: #e4a5b6;
}